repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: forbid-new-submodules
    -   id: mixed-line-ending

-   repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
    -   id: markdownlint-cli2

-   repo: local
    hooks:
    -   id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        files: ^ansible/.*\.(yaml|yml)$
    -   id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^files/shellcheck*
    -   id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        types: [lua]
