---
- name: Make sure directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    mode: "0700"
  loop:
    - '~/install/bin'
    - '~/.bundle'
    - '~/.codex'
    - '~/.imapfilter'
    - '~/.config/nvim'

- name: Create symlinks
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: 'shellcheck/aliases', dest: '~/.aliases' }
    - { src: 'ansible.cfg', dest: '~/.ansible.cfg' }
    - { src: 'aspell.en.pws', dest: '~/.aspell.en.pws' }
    - { src: 'bash_profile', dest: '~/.bash_profile' }
    - { src: 'bashrc', dest: '~/.bashrc' }
    - { src: 'bundler', dest: '~/.bundle/config' }
    - { src: '.codex/config.toml', dest: '~/.codex/config.toml' }
    - { src: 'efnet.ircrc', dest: '~/.efnet.ircrc' }
    - { src: 'freenode.ircrc', dest: '~/.freenode.ircrc' }
    - { src: 'functions', dest: '~/.functions' }
    - { src: 'shellcheck/functions', dest: '~/.functions-posix' }
    - { src: 'functions-zsh', dest: '~/.functions-zsh' }
    - { src: 'gemrc', dest: '~/.gemrc' }
    - { src: 'gitconfig', dest: '~/.gitconfig' }
    - { src: 'global.ircrc', dest: '~/.global.ircrc' }
    - { src: 'imapfilter.config.lua', dest: '~/.imapfilter/config.lua' }
    - { src: 'inputrc', dest: '~/.inputrc' }
    - { src: 'mailcap', dest: '~/.mailcap' }
    - { src: 'muttrc', dest: '~/.muttrc' }
    - { src: 'muttrc-imap', dest: '~/.muttrc-imap' }
    - { src: 'offlineimaprc.ini', dest: '~/.offlineimaprc' }
    - { src: 'offlineimap.py', dest: '~/.offlineimap.py' }
    - { src: 'pinerc', dest: '~/.pinerc' }
    - { src: 'profile', dest: '~/.profile' }
    - { src: 'screenrc', dest: '~/.screenrc' }
    - { src: 'vimrc', dest: '~/.vimrc' }
    - { src: 'zprofile', dest: '~/.zprofile' }
    - { src: 'zshenv', dest: '~/.zshenv' }
    - { src: 'zshrc', dest: '~/.zshrc' }
    - { src: 'nvim.init.lua', dest: '~/.config/nvim/init.lua' }
    - { src: 'tmux.conf', dest: '~/.tmux.conf' }
