---
- name: Make sure directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    mode: "0700"
  loop:
    - '~/Library/Application Support/Code/User/'
    - '~/Library/Application Support/Cursor/User/'
    - '~/Library/Application Support/Antigravity/User/'
    - '~/Library/Application Support/com.mitchellh.ghostty/'

- name: Create symlinks
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/files/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: 'visual-studio-code-settings.json', dest: '~/Library/Application Support/Code/User/settings.json' }
    - { src: 'cursor-settings.json', dest: '~/Library/Application Support/Cursor/User/settings.json' }
    - { src: 'antigravity-settings.json', dest: '~/Library/Application Support/Antigravity/User/settings.json' }
    - { src: 'com.mitchellh.ghostty.config', dest: '~/Library/Application Support/com.mitchellh.ghostty/config' }

- name: Create symlinks for terminal preferences
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/files/{{ item }}"
    dest: "~/Library/Preferences/{{ item }}"
    state: link
    force: true
  loop:
    - com.googlecode.iterm2.plist
    - com.apple.Terminal.plist
